/* CSS for App component */
ul li {
    list-style: none;
}
.homelink {
    font-size: large;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 10px;
}
.custom__image {
    border: 2px solid black;
    border-radius: 5px;
    width: 75%;
}
.custom__row {
    text-align: center;
}
.custom__row p {
    margin: 20px 10px 40px 10px;
}
/* .custom__row .col-xl-4{
    border: 1px solid black;
    padding-top: 5px;
} */